body {
  background-color: pink;
}
h1 {
  color: blueviolet;
}
img {
  width: 400px;
}
nav {
  background-color: aqua;
}
.box {
  height: 60px;
  border: 10px solid gray;
  padding: 10px;
  margin: 10px;
  width: 60px;
  text-align: center;
  background-color: aquamarine;
}
.dark {
  background-color: black;
  color: aliceblue;
}
.light {
  background-color: pink;
  color: aqua;
}
